[submodule "Geom3D"]
	path = Geom3D
	url = https://github.com/ctralie/Geom3D.git
[submodule "SlidingWindowVideoTDA"]
	path = SlidingWindowVideoTDA
	url = https://github.com/ctralie/SlidingWindowVideoTDA.git
[submodule "GeometricCoverSongs"]
	path = GeometricCoverSongs
	url = https://github.com/ctralie/GeometricCoverSongs.git
